SHADOWDESK_NETWORK=localnet
SHADOWDESK_PARTICIPANT1_URL=http://127.0.0.1:6864
SHADOWDESK_PARTICIPANT2_URL=http://127.0.0.1:18003
SHADOWDESK_REGISTRY_URL=https://api.utilities.digitalasset-dev.com
SHADOWDESK_BITSAFE_API_URL=https://api.devnet.bitsafe.finance
SHADOWDESK_DECENTRALIZED_PARTY_ID=
SHADOWDESK_ASSET_TO_BUY=cTBILL
SHADOWDESK_SETTLEMENT_ASSET=cUSDC
SHADOWDESK_AMOUNT=1000000
SHADOWDESK_MAX_PRICE=101
